<section class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-sectionhead">
                    <div class="tg-title">
                        <h2>مقاله ها</h2>
                    </div>
                    <div class="tg-description">
                        <p>لورم ایپسوم یا طرح‌نما</p>
                    </div>
                </div>
            </div>
            <div class="tg-posts">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 tg-verticaltop">
                    <div class="tg-post">
                        <figure>
                            <span class="tg-themetag tg-bookmarktag"><i class="icon-bookmark"></i></span>
                            <a href="javascript:void(0);"><img src="~/images/post/img-01.jpg" alt="توضیح عکس"></a>
                        </figure>
                        <div class="tg-postcontent">
                            <ul class="tg-postcategories">
                                <li><a href="javascript:void(0);">دسته بندی</a></li>
                                <li><a href="javascript:void(0);">دسته بندی</a></li>
                            </ul>
                            <div class="tg-posttitle">
                                <h3><a href="javascript:void(0);">لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum)</a></h3>
                            </div>
                            <ul class="tg-postmetadata">
                                <li>نوشته شده: <a href="javascript:void(0);">لورم ایپسوم</a></li>
                                <li><i class="icon-bubble"></i><a href="javascript:void(0);">15642</a></li>
                            </ul>
                            <div class="tg-description">
                                <p>لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی ... <a href="javascript:void(0);">بیشتر</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 tg-verticaltop">
                    <div class="tg-post">
                        <figure>
                            <a href="javascript:void(0);"><img src="~/images/post/img-02.jpg" alt="توضیح عکس"></a>
                        </figure>
                        <div class="tg-postcontent">
                            <ul class="tg-postcategories">
                                <li><a href="javascript:void(0);">دسته بندی</a></li>
                                <li><a href="javascript:void(0);">دسته بندی</a></li>
                            </ul>
                            <div class="tg-posttitle">
                                <h3><a href="javascript:void(0);">لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum)</a></h3>
                            </div>
                            <ul class="tg-postmetadata">
                                <li>نوشته شده: <a href="javascript:void(0);">لورم ایپسوم</a></li>
                                <li><i class="icon-bubble"></i><a href="javascript:void(0);">15642</a></li>
                            </ul>
                            <div class="tg-description">
                                <p>لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی ... <a href="javascript:void(0);">بیشتر</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 tg-verticaltop">
                    <div class="tg-post">
                        <figure>
                            <span class="tg-themetag tg-bookmarktag"><i class="icon-bookmark"></i></span>
                            <a href="javascript:void(0);"><img src="~/images/post/img-03.jpg" alt="توضیح عکس"></a>
                        </figure>
                        <div class="tg-postcontent">
                            <ul class="tg-postcategories">
                                <li><a href="javascript:void(0);">دسته بندی</a></li>
                                <li><a href="javascript:void(0);">دسته بندی</a></li>
                            </ul>
                            <div class="tg-posttitle">
                                <h3><a href="javascript:void(0);">لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum)</a></h3>
                            </div>
                            <ul class="tg-postmetadata">
                                <li>نوشته شده: <a href="javascript:void(0);">لورم ایپسوم</a></li>
                                <li><i class="icon-bubble"></i><a href="javascript:void(0);">15642</a></li>
                            </ul>
                            <div class="tg-description">
                                <p>لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی ... <a href="javascript:void(0);">بیشتر</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-btnbox">
                    <a class="tg-btn" href="javascript:void(0);">نمایش همه</a>
                </div>
            </div>
        </div>
    </div>
</section>
