<section class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-sectionhead">
                    <div class="tg-title">
                        <h2>آگهی ویژه</h2>
                    </div>
                    <div class="tg-description">
                        <p>10000 آگهی ویژه</p>
                    </div>
                </div>
            </div>
            <div class="tg-ads">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="tg-ad tg-verifiedad">
                        <figure>
                            <span class="tg-themetag tg-featuretag">ویژه</span>
                            <a href="javascript:void(0);"><img src="~/images/ads/img-01.jpg" alt="توضیح عکس"></a>
                            <span class="tg-photocount">دیدن عکس ها</span>
                        </figure>
                        <div class="tg-adcontent">
                            <ul class="tg-productcagegories">
                                <li><a href="javascript:void(0);">دسته</a></li>
                            </ul>
                            <div class="tg-adtitle">
                                <h3><a href="javascript:void(0);">عنوان</a></h3>
                            </div>
                            <time datetime="2017-06-06">آخرین آپدیت: 4 ساعت پیش</time>
                            <div class="tg-adprice"><h4>10 تومان</h4></div>
                            <address>لورم ایپسوم یا طرح‌نما</address>
                            <div class="tg-phonelike">
                                <a class="tg-btnphone" href="javascript:void(0);">
                                    <i class="icon-phone-handset"></i>
                                    <span data-toggle="tooltip" data-placement="top" title="نمایش شماره." data-last="0800 - 1234 - 562 - 6"><em>نمایش شماره.</em></span>
                                </a>
                                <span class="tg-like"><i class="fa fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="tg-ad tg-verifiedad">
                        <figure>
                            <span class="tg-themetag tg-featuretag">ویژه</span>
                            <a href="javascript:void(0);"><img src="~/images/ads/img-02.jpg" alt="توضیح عکس"></a>
                            <span class="tg-photocount">دیدن عکس ها</span>
                        </figure>
                        <div class="tg-adcontent">
                            <ul class="tg-productcagegories">
                                <li><a href="javascript:void(0);">دسته</a></li>
                            </ul>
                            <div class="tg-adtitle">
                                <h3><a href="javascript:void(0);">عنوان</a></h3>
                            </div>
                            <time datetime="2017-06-06">آخرین آپدیت: 4 ساعت پیش</time>
                            <div class="tg-adprice"><h4>10 تومان</h4></div>
                            <address>لورم ایپسوم یا طرح‌نما</address>
                            <div class="tg-phonelike">
                                <a class="tg-btnphone" href="javascript:void(0);">
                                    <i class="icon-phone-handset"></i>
                                    <span data-toggle="tooltip" data-placement="top" title="نمایش شماره." data-last="0800 - 1234 - 562 - 6"><em>نمایش شماره.</em></span>
                                </a>
                                <span class="tg-like tg-liked"><i class="fa fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="tg-ad tg-verifiedad">
                        <figure>
                            <span class="tg-themetag tg-featuretag">ویژه</span>
                            <a href="javascript:void(0);"><img src="~/images/ads/img-03.jpg" alt="توضیح عکس"></a>
                            <span class="tg-photocount">دیدن عکس ها</span>
                        </figure>
                        <div class="tg-adcontent">
                            <ul class="tg-productcagegories">
                                <li><a href="javascript:void(0);">دسته</a></li>
                            </ul>
                            <div class="tg-adtitle">
                                <h3><a href="javascript:void(0);">عنوان</a></h3>
                            </div>
                            <time datetime="2017-06-06">آخرین آپدیت: 4 ساعت پیش</time>
                            <div class="tg-adprice"><h4>10 تومان</h4></div>
                            <address>لورم ایپسوم یا طرح‌نما</address>
                            <div class="tg-phonelike">
                                <a class="tg-btnphone" href="javascript:void(0);">
                                    <i class="icon-phone-handset"></i>
                                    <span data-toggle="tooltip" data-placement="top" title="نمایش شماره." data-last="0800 - 1234 - 562 - 6"><em>نمایش شماره.</em></span>
                                </a>
                                <span class="tg-like"><i class="fa fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="tg-ad tg-verifiedad">
                        <figure>
                            <span class="tg-themetag tg-featuretag">ویژه</span>
                            <a href="javascript:void(0);"><img src="~/images/ads/img-04.jpg" alt="توضیح عکس"></a>
                            <span class="tg-photocount">دیدن عکس ها</span>
                        </figure>
                        <div class="tg-adcontent">
                            <ul class="tg-productcagegories">
                                <li><a href="javascript:void(0);">دسته</a></li>
                            </ul>
                            <div class="tg-adtitle">
                                <h3><a href="javascript:void(0);">عنوان</a></h3>
                            </div>
                            <time datetime="2017-06-06">آخرین آپدیت: 4 ساعت پیش</time>
                            <div class="tg-adprice"><h4>10 تومان</h4></div>
                            <address>لورم ایپسوم یا طرح‌نما</address>
                            <div class="tg-phonelike">
                                <a class="tg-btnphone" href="javascript:void(0);">
                                    <i class="icon-phone-handset"></i>
                                    <span data-toggle="tooltip" data-placement="top" title="نمایش شماره." data-last="0800 - 1234 - 562 - 6"><em>نمایش شماره.</em></span>
                                </a>
                                <span class="tg-like tg-liked"><i class="fa fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="tg-ad tg-verifiedad">
                        <figure>
                            <span class="tg-themetag tg-featuretag">ویژه</span>
                            <a href="javascript:void(0);"><img src="~/images/ads/img-05.jpg" alt="توضیح عکس"></a>
                            <span class="tg-photocount">دیدن عکس ها</span>
                        </figure>
                        <div class="tg-adcontent">
                            <ul class="tg-productcagegories">
                                <li><a href="javascript:void(0);">دسته</a></li>
                            </ul>
                            <div class="tg-adtitle">
                                <h3><a href="javascript:void(0);">عنوان</a></h3>
                            </div>
                            <time datetime="2017-06-06">آخرین آپدیت: 4 ساعت پیش</time>
                            <div class="tg-adprice"><h4>10 تومان</h4></div>
                            <address>لورم ایپسوم یا طرح‌نما</address>
                            <div class="tg-phonelike">
                                <a class="tg-btnphone" href="javascript:void(0);">
                                    <i class="icon-phone-handset"></i>
                                    <span data-toggle="tooltip" data-placement="top" title="نمایش شماره." data-last="0800 - 1234 - 562 - 6"><em>نمایش شماره.</em></span>
                                </a>
                                <span class="tg-like"><i class="fa fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="tg-ad tg-verifiedad">
                        <figure>
                            <span class="tg-themetag tg-featuretag">ویژه</span>
                            <a href="javascript:void(0);"><img src="~/images/ads/img-06.jpg" alt="توضیح عکس"></a>
                            <span class="tg-photocount">دیدن عکس ها</span>
                        </figure>
                        <div class="tg-adcontent">
                            <ul class="tg-productcagegories">
                                <li><a href="javascript:void(0);">دسته</a></li>
                            </ul>
                            <div class="tg-adtitle">
                                <h3><a href="javascript:void(0);">عنوان</a></h3>
                            </div>
                            <time datetime="2017-06-06">آخرین آپدیت: 4 ساعت پیش</time>
                            <div class="tg-adprice"><h4>10 تومان</h4></div>
                            <address>لورم ایپسوم یا طرح‌نما</address>
                            <div class="tg-phonelike">
                                <a class="tg-btnphone" href="javascript:void(0);">
                                    <i class="icon-phone-handset"></i>
                                    <span data-toggle="tooltip" data-placement="top" title="نمایش شماره." data-last="0800 - 1234 - 562 - 6"><em>نمایش شماره.</em></span>
                                </a>
                                <span class="tg-like "><i class="fa fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="tg-ad tg-verifiedad">
                        <figure>
                            <span class="tg-themetag tg-featuretag">ویژه</span>
                            <a href="javascript:void(0);"><img src="~/images/ads/img-07.jpg" alt="توضیح عکس"></a>
                            <span class="tg-photocount">دیدن عکس ها</span>
                        </figure>
                        <div class="tg-adcontent">
                            <ul class="tg-productcagegories">
                                <li><a href="javascript:void(0);">دسته</a></li>
                            </ul>
                            <div class="tg-adtitle">
                                <h3><a href="javascript:void(0);">عنوان</a></h3>
                            </div>
                            <time datetime="2017-06-06">آخرین آپدیت: 4 ساعت پیش</time>
                            <div class="tg-adprice"><h4>10 تومان</h4></div>
                            <address>لورم ایپسوم یا طرح‌نما</address>
                            <div class="tg-phonelike">
                                <a class="tg-btnphone" href="javascript:void(0);">
                                    <i class="icon-phone-handset"></i>
                                    <span data-toggle="tooltip" data-placement="top" title="نمایش شماره." data-last="0800 - 1234 - 562 - 6"><em>نمایش شماره.</em></span>
                                </a>
                                <span class="tg-like"><i class="fa fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="tg-ad tg-verifiedad">
                        <figure>
                            <span class="tg-themetag tg-featuretag">ویژه</span>
                            <a href="javascript:void(0);"><img src="~/images/ads/img-08.jpg" alt="توضیح عکس"></a>
                            <span class="tg-photocount">دیدن عکس ها</span>
                        </figure>
                        <div class="tg-adcontent">
                            <ul class="tg-productcagegories">
                                <li><a href="javascript:void(0);">دسته</a></li>
                            </ul>
                            <div class="tg-adtitle">
                                <h3><a href="javascript:void(0);">عنوان</a></h3>
                            </div>
                            <time datetime="2017-06-06">آخرین آپدیت: 4 ساعت پیش</time>
                            <div class="tg-adprice"><h4>10 تومان</h4></div>
                            <address>لورم ایپسوم یا طرح‌نما</address>
                            <div class="tg-phonelike">
                                <a class="tg-btnphone" href="javascript:void(0);">
                                    <i class="icon-phone-handset"></i>
                                    <span data-toggle="tooltip" data-placement="top" title="نمایش شماره." data-last="0800 - 1234 - 562 - 6"><em>نمایش شماره.</em></span>
                                </a>
                                <span class="tg-like"><i class="fa fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-btnbox">
                    <a class="tg-btn" href="javascript:void(0);">نمایش همه</a>
                </div>
            </div>
        </div>
    </div>
</section>