<section class="tg-sectionspace tg-bglight tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-sectionhead">
                    <div class="tg-title">
                        <h2>آخرین آگهی ها</h2>
                    </div>
                    <div class="tg-description">
                        <p>بیش از 100 آگهی</p>
                    </div>
                </div>
            </div>
            <div class="tg-ads tg-adsvtwo">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="tg-ad tg-verifiedad">
                        <figure>
                            <span class="tg-themetag tg-featuretag">ویژه</span>
                            <a href="javascript:void(0);"><img src="~/images/ads/img-09.jpg" alt="توضیح عکس"></a>
                            <span class="tg-photocount">دیدن عکس ها</span>
                        </figure>
                        <div class="tg-adcontent">
                            <ul class="tg-productcagegories">
                                <li><a href="javascript:void(0);">وسیله</a></li>
                            </ul>
                            <div class="tg-adtitle">
                                <h3><a href="javascript:void(0);">لورم ایپسوم یا طرح‌نما</a></h3>
                            </div>
                            <time datetime="2017-06-06">آخرین آپدیت: 4 ساعت پیش</time>
                            <div class="tg-adprice"><h4>200 تومان</h4></div>
                            <address>آدرس</address>
                            <div class="tg-phonelike">
                                <a class="tg-btnphone" href="javascript:void(0);">
                                    <i class="icon-phone-handset"></i>
                                    <span data-toggle="tooltip" data-placement="top" title="نمایش شماره." data-last="0800 - 1234 - 562 - 6"><em>نمایش شماره.</em></span>
                                </a>
                                <span class="tg-like tg-liked"><i class="fa fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="tg-ad tg-verifiedad">
                        <figure>
                            <a href="javascript:void(0);"><img src="~/images/ads/img-10.jpg" alt="توضیح عکس"></a>
                        </figure>
                        <div class="tg-adcontent">
                            <ul class="tg-productcagegories">
                                <li><a href="javascript:void(0);">وسیله</a></li>
                            </ul>
                            <div class="tg-adtitle">
                                <h3><a href="javascript:void(0);">لورم ایپسوم یا طرح‌نما</a></h3>
                            </div>
                            <time datetime="2017-06-06">آخرین آپدیت: 4 ساعت پیش</time>
                            <div class="tg-adprice"><h4>200 تومان</h4></div>
                            <address>آدرس</address>
                            <div class="tg-phonelike">
                                <a class="tg-btnphone" href="javascript:void(0);">
                                    <i class="icon-phone-handset"></i>
                                    <span data-toggle="tooltip" data-placement="top" title="نمایش شماره." data-last="0800 - 1234 - 562 - 6"><em>نمایش شماره.</em></span>
                                </a>
                                <span class="tg-like"><i class="fa fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="tg-ad tg-verifiedad">
                        <figure>
                            <a href="javascript:void(0);"><img src="~/images/ads/img-11.jpg" alt="توضیح عکس"></a>
                            <span class="tg-photocount">دیدن عکس ها</span>
                        </figure>
                        <div class="tg-adcontent">
                            <ul class="tg-productcagegories">
                                <li><a href="javascript:void(0);">وسیله</a></li>
                            </ul>
                            <div class="tg-adtitle">
                                <h3><a href="javascript:void(0);">لورم ایپسوم یا طرح‌نما</a></h3>
                            </div>
                            <time datetime="2017-06-06">آخرین آپدیت: 4 ساعت پیش</time>
                            <div class="tg-adprice"><h4>200 تومان</h4></div>
                            <address>آدرس</address>
                            <div class="tg-phonelike">
                                <a class="tg-btnphone" href="javascript:void(0);">
                                    <i class="icon-phone-handset"></i>
                                    <span data-toggle="tooltip" data-placement="top" title="نمایش شماره." data-last="0800 - 1234 - 562 - 6"><em>نمایش شماره.</em></span>
                                </a>
                                <span class="tg-like"><i class="fa fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="tg-ad tg-verifiedad">
                        <figure>
                            <span class="tg-themetag tg-featuretag">ویژه</span>
                            <a href="javascript:void(0);"><img src="~/images/ads/img-12.jpg" alt="توضیح عکس"></a>
                            <span class="tg-photocount">دیدن عکس ها</span>
                        </figure>
                        <div class="tg-adcontent">
                            <ul class="tg-productcagegories">
                                <li><a href="javascript:void(0);">وسیله</a></li>
                            </ul>
                            <div class="tg-adtitle">
                                <h3><a href="javascript:void(0);">لورم ایپسوم یا طرح‌نما</a></h3>
                            </div>
                            <time datetime="2017-06-06">آخرین آپدیت: 4 ساعت پیش</time>
                            <div class="tg-adprice"><h4>200 تومان</h4></div>
                            <address>آدرس</address>
                            <div class="tg-phonelike">
                                <a class="tg-btnphone" href="javascript:void(0);">
                                    <i class="icon-phone-handset"></i>
                                    <span data-toggle="tooltip" data-placement="top" title="نمایش شماره." data-last="0800 - 1234 - 562 - 6"><em>نمایش شماره.</em></span>
                                </a>
                                <span class="tg-like"><i class="fa fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="tg-ad tg-verifiedad">
                        <figure>
                            <a href="javascript:void(0);"><img src="~/images/ads/img-13.jpg" alt="توضیح عکس"></a>
                        </figure>
                        <div class="tg-adcontent">
                            <ul class="tg-productcagegories">
                                <li><a href="javascript:void(0);">وسیله</a></li>
                            </ul>
                            <div class="tg-adtitle">
                                <h3><a href="javascript:void(0);">لورم ایپسوم یا طرح‌نما</a></h3>
                            </div>
                            <time datetime="2017-06-06">آخرین آپدیت: 4 ساعت پیش</time>
                            <div class="tg-adprice"><h4>200 تومان</h4></div>
                            <address>آدرس</address>
                            <div class="tg-phonelike">
                                <a class="tg-btnphone" href="javascript:void(0);">
                                    <i class="icon-phone-handset"></i>
                                    <span data-toggle="tooltip" data-placement="top" title="نمایش شماره." data-last="0800 - 1234 - 562 - 6"><em>نمایش شماره.</em></span>
                                </a>
                                <span class="tg-like"><i class="fa fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="tg-ad tg-verifiedad">
                        <figure>
                            <a href="javascript:void(0);"><img src="~/images/ads/img-14.jpg" alt="توضیح عکس"></a>
                            <span class="tg-photocount">دیدن عکس ها</span>
                        </figure>
                        <div class="tg-adcontent">
                            <ul class="tg-productcagegories">
                                <li><a href="javascript:void(0);">وسیله</a></li>
                            </ul>
                            <div class="tg-adtitle">
                                <h3><a href="javascript:void(0);">لورم ایپسوم یا طرح‌نما</a></h3>
                            </div>
                            <time datetime="2017-06-06">آخرین آپدیت: 4 ساعت پیش</time>
                            <div class="tg-adprice"><h4>200 تومان</h4></div>
                            <address>آدرس</address>
                            <div class="tg-phonelike">
                                <a class="tg-btnphone" href="javascript:void(0);">
                                    <i class="icon-phone-handset"></i>
                                    <span data-toggle="tooltip" data-placement="top" title="نمایش شماره." data-last="0800 - 1234 - 562 - 6"><em>نمایش شماره.</em></span>
                                </a>
                                <span class="tg-like"><i class="fa fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-btnbox">
                    <a class="tg-btn" href="javascript:void(0);">نمایش همه</a>
                </div>
            </div>
        </div>
    </div>
</section>