<section class="tg-sectionspace tg-bglight tg-haslayout">
    
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="tg-sectionhead">
                <div class="tg-title">
                    <h2>استعدادهای برتر</h2>
                </div>
                <div class="tg-description">
                    <p>بیش از 50 نفر</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="tg-testimonialsslider" class="tg-testimonials tg-testimonialsslider owl-carousel">
                    <div class="item">
                        <div class="tg-testimonial">
                            <figure><img src="~/images/testimonials/img-01.jpg" alt="توضیح عکس"></figure>
                            <div class="tg-contentbox">
                                <h2><a href="javascript:void(0);">امیر</a></h2>
                                <div class="tg-description">
                                    <p>لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی .</p>
                                </div>
                                <h3>ساخت<a href="javascript:void(0);">شرکت</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="tg-testimonial">
                            <figure><img src="~/images/testimonials/img-02.jpg" alt="توضیح عکس"></figure>
                            <div class="tg-contentbox">
                                <h2><a href="javascript:void(0);">سارا</a></h2>
                                <div class="tg-description">
                                    <p>لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی .</p>
                                </div>
                                <h3>ساخت<a href="javascript:void(0);">شرکت</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="tg-testimonial">
                            <figure><img src="~/images/testimonials/img-01.jpg" alt="توضیح عکس"></figure><div class="tg-contentbox">
                                <h2><a href="javascript:void(0);">سارا</a></h2>
                                <div class="tg-description">
                                    <p>لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی .</p>
                                </div>
                                <h3>ساخت<a href="javascript:void(0);">شرکت</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="tg-testimonial">
                            <figure><img src="~/images/testimonials/img-02.jpg" alt="توضیح عکس"></figure>
                            <div class="tg-contentbox">
                                <h2><a href="javascript:void(0);">سارا</a></h2>
                                <div class="tg-description">
                                    <p>لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی .</p>
                                </div>
                                <h3>ساخت<a href="javascript:void(0);">شرکت</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>